.ubuntu {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}

/* Globals */
a {
    color: #ffffff;
    text-decoration: none;
}

.active {
    border-bottom: 3px solid #0b5ed7;
    font-weight: 700;
    color: #0b5ed7 !important;

}